@model TestViewModel

<p>@Model.Name</p>
<p>@Model.Category - @Model.Cuisine</p>
<p>Ingredients:</p>
@foreach (IngredientLineDetail x in Model.Line)
{
    <p style="font-size:small">@x.Ingredient.IngredientName - @x.Quantity </p>
}

<p>Instructions:</p>
<p>@Model.Instructions</p>