@model Recipe
@{
    ViewBag.Title = "Recipes";
    Layout = "_Layout";
}

<h2>InsertPage</h2>
@await Html.PartialAsync("RecipeDetails", Model)
<form id="form1" asp-action="AddRecipe"
      asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Name">Recipe:</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Category">Category:</label>
        <input class="form-control" asp-for="Category" />
    </div>
    <div>
        @Html.LabelFor(model => model.ID)
        @Html.TextBoxFor(model => model.ID)
    </div>

    <div>
        @Html.LabelFor(model => model.Category)
        @Html.TextBoxFor(model => model.Category)
    </div>
    <div>
        @Html.LabelFor(model => model.Cuisine)
        @Html.TextBoxFor(model => model.Cuisine)
    </div>

    <button type="submit" style="float:right">
        Save
    </button>
    <button type="button" style="float:right" onclick="location.href='@Url.Action("")'">
        Cancel
    </button>
</form>

