@model IEnumerable<COMP229_301044056_Assignment02.Models.Recipe>
    <div>
        <img src="~/AutumnSoup.jpg" style="float:right" />
    </div>
<div>
    @foreach (Recipe p in COMP229_301044056_Assignment02.Models.FakeRepository.Recipes)
    {
        if (p.ID == ViewBag.RecipeID)
        {
            <h2>@p.Name</h2>
            <p>Category: @p.Category</p>
            <p>Cuisine: @p.Cuisine</p>
            <p>Ingredients: @p.Ingredients</p>
            <p>Instructions: @p.Instructions</p>
        }
    }
</div>


