@model TestViewModel

<div>
    <img src="~/AutumnSoup.jpg" style="float:right" />
</div>
<div>
    <h2>@Model.Name</h2>
    <p>Category: @Model.Category</p>
    <p>Cuisine: @Model.Cuisine</p>
    <p>Ingredients:</p>
    @foreach (IngredientLineDetail x in Model.Line)
    {
        <p style="font-size:small">@x.Ingredient.IngredientName - @x.Quantity @x.Measure.MeasureDesc </p>
    }
    <p>Instructions: @Model.Instructions</p>
</div>


